/*
  Styles for main profile header
*/

header {
  height: 520px;
  padding-top: 120px;
  width: 100%;
  background-color: #d69521;
  background-image: url("https://www.transparenttextures.com/patterns/black-thread-light.png");
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  color: #fff;
}