/*
  Styles for main profile header
*/
.main-header {
  height: 520px;
  padding-top: 120px;
  width: 100%;
  background-color: #d69521;
  background-image: url("https://www.transparenttextures.com/patterns/black-thread-light.png");
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  color: #fff;
}
@media (min-width: 1024px) {
  .main-header {
    flex: 0 0 auto;
    display: block;
    margin: 170px 0 50px;
    width: 41.666666667%;
    margin-right: 8.33333333%;
  }
  .main-header .profile-photo-container,
  .main-header .profile-name-container {
    display: flex;
    justify-content: center;
  }
}
