/*
  Stylesheet for navigation elements
*/

nav {
  height: 120px;
  background: transparent;
  color: #ffffff;
  padding: 0 1.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
}

nav span {
  font-family: 'Bungee', cursive;
}

nav a {
  color: #ffffff;
  text-decoration: none;
}

nav a:hover {
  color: #ffffff;
}


nav .new-tweet-control {
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav .new-tweet-control:hover {
  cursor: pointer;
}

nav .new-tweet-control:hover i {
  -webkit-animation: mover 0.5s infinite alternate;
  animation: mover 0.5s infinite alternate;
}

@-webkit-keyframes mover {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(4px);
  }
}

@keyframes mover {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(4px);
  }
}

nav .new-tweet-control p {
  margin: 0;
}

nav .new-tweet-control i {
  color: red;
}

@media (min-width:1024px) {
  nav {
    background: #4056a1;
  }
}

@media (min-width:1440px) {
  nav {
    padding: 1.5em calc((100% - 1368px)/2);
  }
}